.tab {
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto;
}

.tab th,
.tab td {
    padding: 8px;
    border: 1px solid #000;
}

.tab th {
    background-color: green;
    color: white;
}

.tab tr:hover {
    background-color: lightgreen;
}

.button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: darkgreen;
}


.tab th:nth-child(1),
.tab td:nth-child(1) {
    width: 10%;
}

.tab th:nth-child(2),
.tab td:nth-child(2) {
    width: 50%;
}

.tab th:nth-child(3),
.tab td:nth-child(3) {
    width: 20%;
}

.tab th:nth-child(4),
.tab td:nth-child(4) {
    width: 20%;
}