@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif; /* Roboto 폰트로 변경 */
    font-size: var(--font-size-main);
  }
  
  :root {
      --font-size-main: 20px;
  }
  